.legend_bg {
  background-image: url("../../Assets/Images/trade_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.t-legend-prize {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  /* identical to box height, or 162% */
  text-align: center;
  text-transform: uppercase;

  color: #faff00;
}
.t-legend-user {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  /* identical to box height, or 54% */
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.t-legend-explore {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  text-align: center;

  color: #ffffff;
}
.legend_rect_bg {
  width: 100%;
  height: auto;

  background: #030039;
  box-shadow: 0px 13px 19px 1px rgba(250, 255, 0, 0.4);
}
.legend-text-bar {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}
.t-legend-timeline {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.t-date-timeline {
  font-family: "Poppins";
  font-style: normal !important;
  font-weight: 200 !important;
  font-size: 17px;
  /* or 221% */
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.t-timeline-legend {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  /* or 221% */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.t-timeline-read {
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 15px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #01f7f7;
}

.t-round-timeline {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  /* identical to box height, or 39% */

  text-transform: uppercase;

  color: #faff00;
}
.t-timeline-if {
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  /* or 181% */
  text-align: center;
  color: #ffffff;
}
.round-box,
.round-box2,
.round-box3 {
  width: 359px;
  height: 295px;
  background: #030039;

  border-radius: 20px;
}
.round-box {
  border: 1px solid #01f7f7;
  box-shadow: 0px 20px 74px 0px #01F7F7;
}
.round-box2 {
  border: 1px solid #fd0093;
  box-shadow: 0px 20px 74px 0px #fd0093;
}
.round-box3 {
  border: 1px solid #faff00;
  box-shadow: 0px 20px 74px 0px #faff00;
}
.img-legend{
    text-align: right;
    position: relative;
    top: -35px;
    z-index: 1;
}
.img-legend-2{
  position: relative;
    top: -80px;
}
.t-legend-buyTicket, .t-legend-play, .t-legend-everyone{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
text-transform: uppercase;
}
.t-legend-buyTicket{
  color: #01F7F7;
}.t-legend-play{
color: #fd0093;
}.t-legend-everyone{
color: #faff00;
}
.buyticket-text{
  margin-top: -70px;
  padding: 15px;
}
.t-legend-prices{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #FFFFFF;
}
.vs_bg{
  width: 95%;
height: 79px;
background: #FAFF00;
border-radius: 2px;
z-index: 1000;

}
.t-legend-vs{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  /* identical to box height, or 117% */
  text-transform: uppercase;
  color: #030039;
}

@media(max-width:1024px){
  .round-box,
.round-box2,
.round-box3 {
width: auto;
height: auto;
margin-top: 20px;
}
}

/* ********************************LuckyDraw************************** */
.t-luckydraw{
  font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 90px;
/* identical to box height, or 39% */
text-align: center;
text-transform: uppercase;

color: #FD0093;
}
.table-lengend{
  width: 100%;
}

.btn-drawing{
  font-family: 'Poppins';
font-style: normal;
/* font-weight: 700; */
font-size: 13px;
/* identical to box height, or 219% */

text-transform: uppercase;
background:#010017 ;
color: #FFFFFF;
  width: 250px;
  border: none;
  
  border-radius: 3px;
}


.btn-drawing:hover{
  width: 250px;
  background: #FD0093;
}
.arrow_bg_luck{
  width: 35px;
height: 35px;
background: #01F7F7;
border-radius: 50px;
}
.txt_bg_luck{
  width: 142px;
height: 35px;
background: #01F7F7;
border-radius: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
/* identical to box height */
text-transform: uppercase;
text-align: center;
color: #000000;
}
@media(max-width:425px){
  .timebomb-last{
font-size: 12px;
text-align: center;
  }
}

/* *****************************************Legend Top*************************************************** */
.t-legend-top{

  font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 90px;
/* identical to box height, or 39% */
text-align: center;
text-transform: uppercase;

color: #01F7F7;
}