.marign-seven{
    margin-top: 150px;
}
.text-virtual-world{

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 55px;
/* or 133% */
color: #00D1FF;
}
.text-dammy2 {

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}
.pictureSeven-bg {
    width: 506px;
    height: 528px;
    background-color: #00F0FF;
    filter: blur(157px);
  }