.text_trade-anything{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 73px;
/* or 133% */
color: #00D1FF;
}
.text_no{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 73px;
/* or 133% */
color:#FD0093;
}
.btn_learn_bg{
    width: 200px;
height: 62px;
border: 1px solid #00D1FF;
border-radius: 2px 2px 40px 2px;
background: transparent;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;
/* identical to box height */
text-transform: uppercase;
color: #00FFF0;

}