.lottery-bg {
  background-image: url("../../../Assets/Images/Lottery-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.LT-box {
  width: 421px;
  height: 45px;
  background: #010017;
  border: 1px solid #fd0093;
  box-shadow: 0px 0px 12px 9px rgba(253, 0, 147, 0.67);
  border-radius: 2px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  /* identical to box height, or 310% */
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #ffffff;
}
.t-Lt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 91px;
  text-transform: uppercase;

  color: #01f7f7;
}
.t-InPrize {
  margin: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}
.btn-BuyTicket {
  width: 221px;
  height: 64px;
  background: #010017;
  border: 1px solid #fd0093;
  box-shadow: 0px 0px 12px 9px #fd0093;
  border-radius: 0px 0px 117px 0px;
}
.bt-t-buyticket {
  width: 221px;
  height: 64px;
  background: none;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  /* identical to box height, or 353% */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #fd0093;
}
.LT-box2 {
  width: 477px;
  height: 431px;
  background: #010017;
  border: 1px solid #01f7f7;
  box-shadow: 0px 0px 12px 9px #01f7f7;
  border-radius: 20px 20px 117px 20px;
}
.t-Get {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  /* identical to box height */

  color: #ffffff;
}
.LT-time-box {
  position: relative;
  left: 66px;
  width: 121px;
  height: 38px;
  background: #01f7f7;
  border-radius: 2px;
}
.t-LT-Date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;

  /* identical to box height */

  color: #020028;
}
.t-until {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  color: #ffffff;
}
.t-NextDraw {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  /* identical to box height */

  color: #ffffff;
}
.T-input {
  padding: 15px;
  width: 433px;
  height: 66px;
  background: #010017;
  border: 1px solid #007272;
  border-radius: 5px;
}
.TDraw {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 32px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.t-PrizePot {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.t-Dollar {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  /* identical to box height */

  text-transform: uppercase;

  color: #01f7f7;
}
.LT-circle,
.LF-circle {
  width: 78px;
  height: 78px;
  border-radius: 50px;
  background: #010017;
}
.LT-circle {
  border: 1px solid #01f7f7;
  box-shadow: 0px 0px 12px 9px #01f7f7;
}
.LF-circle {
  border: 1px solid #fd0093;
  box-shadow: 0px 0px 12px 9px #fd0093;
}
.LT-Detail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #01f7f7;
}

/* ******************Fininshed-box */
.Fininshed-box {
  margin-top: 100px;
  width: 477px;
  height: 431px;
  left: 616px;
  top: 1195px;

  background: #010017;
  border: 1px solid #fd0093;
  box-shadow: 0px 0px 12px 9px #fd0093;
  border-radius: 20px 20px 117px 20px;
}
.tfinished {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 34px;
  /* identical to box height */

  color: #ffffff;
}
.finished {
  /* width: 212px;
  height: 38px; */

  background: #456c6c;
  border-radius: 2px;
}

.btn-group-finished {
  width: 212px;
  height: 38px;
  background: #456c6c;
  border-radius: 2px;
}

.btn-finish {
  width: 106px;
  height: 38px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
  background: none;
  border: none;
}
.btn-finish:hover {
  width: 106px;
  height: 38px;
  background: #fd0093;
  border-radius: 2px;
}
.input-finished {
  width: 433px;
  height: 66px;
  background: #010017;
  border: 1px solid #007272;
  border-radius: 5px;
}
.tDrawn,
.tRound {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 32px;
  /* identical to box height */

  text-transform: uppercase;
}
.tDrawn {
  color: #ffffff;
}
.tRound {
  color: #fd0093;
}
.tWinning {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 32px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.t-latest-box {
  width: 69px;
  height: 20px;
  background: #fd0093;
  border-radius: 2px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.t-connect-your {
  width: 563px;
  height: 195px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  /* or 108% */

  text-transform: uppercase;

  color: #fd0093;
}
.Play_bg {
  background-image: url("../../../Assets/Images/Play_bg.png");
  width:100%;
    height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.t_How {
  margin-top: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  /* identical to box height, or 108% */

  text-transform: uppercase;

  color: #ffffff;
}
.t_if {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */

  text-align: center;

  color: #ffffff;
}
.How_card1,
.How_card2,
.How_card3 {
  width: 359px;
  height: 157px;
  background: #030039;
  border-radius: 20px;
}
.How_card1 {
  border: 1px solid #01f7f7;
  box-shadow: 0px 20px 74px 10px #01f7f7;
}
.How_card2 {
  border: 1px solid #fd0093;
  box-shadow: 0px 20px 74px 10px #fd0093;
}
.How_card3 {
  border: 1px solid #faff00;
  box-shadow: 0px 20px 74px 10px #faff00;
}
.how_circle1,
.how_circle2,
.how_circle3 {
  width: 38px;
  height: 38px;

  background: #010017;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
  top: -15px;
}
.how_circle1 {
  border: 1px solid #01f7f7;
  box-shadow: 0px 0px 12px 3px rgba(1, 247, 247, 0.56);
}
.how_circle2 {
  border: 1px solid #fd0093;
  box-shadow: 0px 0px 12px 3px #fd0093;
}
.how_circle3 {
  border: 1px solid #faff00;
  box-shadow: 0px 0px 12px 3px #faff00;
}

.thow_circle1,
.thow_circle2,
.thow_circle3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  /* text-align: center; */
}
.thow_circle1 {
  color: #01f7f7;
  /* text-align: center; */
}
.thow_circle2 {
  color: #fd0093;
  /* text-align: center; */
}
.thow_circle3 {
  color: #faff00;
  /* text-align: center; */
}
.thow_buy, .thow_play, .thow_everyone{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
text-transform: uppercase;
}
.thow_buy{
color: #01F7F7;
}
.thow_play{
color: #fd0093;
}
.thow_everyone{
    color: #faff00;
}
.thow_priceAre{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
text-align: center;

color: #FFFFFF;
}
.win_margin{
    margin-top: 150px !important;
}
.twining_criteria{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 60px;
/* identical to box height, or 108% */
text-transform: uppercase;
color: #FAFF00;
}
.t-thedigits{
    margin: 0% !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /* identical to box height, or 161% */

    
    color: #FFFFFF;
}
.there_an{
    font-family: 'Poppins';
font-style: normal;
font-size: 16px;
/* or 144% */
color: #FFFFFF;
}
.wining-box{
  
    width: 477px;
height: 431px;
left: 1278px;
top: 2470px;

background: #010017;
border: 1px solid #FAFF00;
box-shadow: 0px 0px 12px 9px #FAFF00;
border-radius: 20px 20px 117px 20px;
}
.wining-circle{
  position: relative;
  right: 35px;
width: 60px;
height: 60px;
background: #010017;
border: 1px solid #FAFF00;
box-shadow: 0px 0px 12px 3px #FAFF00;
border-radius: 50%;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 45px;
/* identical to box height */


color: #FAFF00;
}
.t1-pink, .t1-yellow, .t1-blue{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
/* identical to box height */

}
.t1-blue{
color:#01F7F7;
}
.t1-yellow{
  color:#faff00;
}
.t1-pink{

  color:#fd0093;
}

/* ******************************************************************************************************* */
.PrizeFund-box{
  width: 431px;
height: 496px;
background: #010017;
border: 1px solid #01F7F7;
box-shadow: 0px 0px 12px 9px #01F7F7;
border-radius: 20px 20px 117px 20px;

}
.tDigits{
  width: 180px;
height: 33px;
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 12px;
/* or 142% */

text-transform: uppercase;

color: #01F7F7;
}
.tmatches{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 43px;
/* or 215% */

text-transform: uppercase;

color: #FFFFFF;
}
.blue-col{
  font-weight: bolder !important;
  color: #01F7F7;
}
.pink-col{
  font-weight: bolder !important;
  color: #fd0093;
}
.yellow-col{
  font-weight: bolder !important;
  color: #FAFF00;
}
.t-prizes-fund{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 65px;
/* identical to box height, or 108% */

text-transform: uppercase;

color: #01F7F7;
}
.t-thePrize{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 161% */

color: #FFFFFF;
}
.t-ticket{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 161% */

color: #01F7F7;
}
.t-here-an{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
/* or 144% */


color: #FFFFFF;
}
.t-Rollover{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 161% */

color: #FD0093;
}
.t-cake{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 161% */

color: #FAFF00;
}
.still-margin{
  margin-top: 150px;
}
.Still_bg{
  background-image: url("../../../Assets/Images/Lottery-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  /* box-shadow: #01F7F7; */
  box-shadow: 0px 0px 34px 0px #01F7F7;
border-radius: 5px;
}
.t-still{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 45px;
/* identical to box height, or 51% */

text-transform: uppercase;

color: #FFFFFF;
}
.t-check-our{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
/* or 144% */

text-transform: uppercase;

color: #FFFFFF;
}
.t-how-play{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
/* or 144% */

text-decoration-line: underline;
text-transform: uppercase;

color: #FFFFFF;
}
.t-vritual{
  color: #FAFF00;
}
.last-picture{
  position: relative;
  top: -100px;
}